  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="bg-img-hero-fixed" style="background-image: url(../assets/svg/error-404.svg);">
      <div class="d-lg-flex">
        <div class="container d-lg-flex align-items-lg-center min-height-lg-100vh space-4">
          <div class="w-lg-60 w-xl-50">
            <!-- Title -->
            <div class="mb-5">
              <h1 class="text-primary font-weight-normal">Page not <span class="font-weight-semi-bold">found</span></h1>
              <p class="mb-0">Oops! Looks like you followed a bad link.</p>
              <p>If you think this is a problem with us, please <a href="https://github.com/jgraph/www.diagrams.net-source/issues">tell us</a>.</p>
            </div>
            <!-- End Title -->

            <a class="btn btn-primary btn-wide transition-3d-hover" href="/index.html">Go Back</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- JS Global Compulsory -->
  <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="../../assets/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->

  <!-- JS Front -->
  <script src="../../assets/js/hs.core.js"></script>