
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="container space-top-md-4 space-top-lg-4">
      <div class="row justify-content-lg-between mb-7">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <!-- Info -->
          <div class="mb-5">
            <h1 class="h2 font-weight-medium mb-3">Security-first diagramming for teams.</h1>
            <p>Bring your storage to our online tool, or go max privacy with the desktop app.</p>
          </div>

          <div class="mb-3">
            <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mr-3" href="https://app.diagrams.net/?src=about" target="_blank">Start</a>
            <a class="btn btn-outline-primary btn-wide transition-3d-hover mb-2 mb-sm-0" href="http://get.diagrams.net" target="_blank">Download</a>
          </div>

          <p class="small">No login or registration required.</p>
          <!-- End Info -->
        </div>

        <div class="col-lg-6">
          <img class="img-fluid" src="assets/svg/home-dia1.svg" style="padding-bottom: 100px;"
            alt="Example diagram">

          <!-- End SVG Illustration -->
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- SVG Top Shape -->
    <figure>
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
           viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
        <polygon class="fill-gray-100" points="0,273 1921,273 1921,0 "/>
      </svg>
    </figure>
    <!-- End SVG Top Shape -->

    <!-- Features Section -->
    <div class="bg-light">
      <div class="container space-lg-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
          <h2 class="font-weight-medium">Diagram files created in 2005 will load in the app today</h2>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
            <!-- Nav -->
            <ul class="nav nav-box" role="tablist">
              <li class="nav-item w-100 mx-0 mb-3">
                <a class="nav-link p-4 active" id="pills-one-code-features-tab" data-toggle="pill" href="#pills-one-code-features" role="tab" aria-controls="pills-one-code-features" aria-selected="true">
                  <div class="media">
                    <img src="../../assets/svg/icons/icon-7.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="56px" height="56px">
                  <div class="media-body">
                    <h3 class="h6">Share with everyone</h3>
                      <p class="mb-0">Don't worry about licenses or platforms, it just works.</p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="nav-item w-100 mx-0 mb-3">
                <a class="nav-link p-4" id="pills-two-code-features-tab" data-toggle="pill" href="#pills-two-code-features" role="tab" aria-controls="pills-two-code-features" aria-selected="false">
                  <div class="media">
                    <img src="../../assets/svg/icons/icon-3.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="56px" height="56px">
                    <div class="media-body">
                      <h4 class="h6">Powerful features</h4>
                      <p class="mb-0">diagrams.net has everything you expect from a professional diagramming tool.</p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="nav-item w-100 mx-0">
                <a class="nav-link p-4" id="pills-three-code-features-tab" data-toggle="pill" href="#pills-three-code-features" role="tab" aria-controls="pills-three-code-features" aria-selected="false">
                  <div class="media">
                      <img src="../../assets/svg/icons/icon-20.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="56px" height="56px">
                    <div class="media-body">
                      <h4 class="h6">Privacy first</h4>
                      <p class="mb-0">Store your data wherever you want to. Open source code offers transparency.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- End Nav -->
          </div>

          <div class="col-lg-7 order-lg-1 align-self-lg-top">
            <!-- Tab Content -->
            <div class="tab-content pr-lg-4">
              <div class="tab-pane fade show active feature-tab" id="pills-one-code-features" role="tabpanel" aria-labelledby="pills-one-code-features-tab">
                <img class="img-fluid" src="../../assets/svg/home-dia2.svg" alt="Example diagram 2" style="padding-bottom: 50px;">
              </div>

              <div class="tab-pane fade feature-tab" id="pills-two-code-features" role="tabpanel" aria-labelledby="pills-two-code-features-tab">
                  <img class="img-fluid" src="/assets/img/blog/diagrams-features.png" style="padding-bottom: 50px;" alt="diagrams.net editor">
              </div>

              <div class="tab-pane fade feature-tab" id="pills-three-code-features" role="tabpanel" aria-labelledby="pills-three-code-features-tab">
                <!-- SVG Diagram Examples -->
                <img class="img-fluid" src="/assets/img/blog/gitflow-examples.svg" style="padding-bottom: 50px;" alt="Store your diagrams where you work">
                <!-- SVG Diagram Examples -->
              </div>
            </div>
            <!-- End Tab Content -->
            <div class="w-md-80 text-center mx-md-auto">
              <p class="mb-0"><a href="/blog/features.html">More about the features of diagrams.net</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- SVG Bottom Shape -->
    <figure>
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="64px"
           viewBox="0 0 1921 273" style="margin-bottom: -8px; enable-background:new 0 0 1921 273;" xml:space="preserve">
        <polygon class="fill-gray-100" points="1921,0 0,0 0,273 "/>
      </svg>
    </figure>
    <!-- End SVG Bottom Shape -->

    <!-- Features Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="font-weight-medium">Works with your existing tools</h2>
      </div>
      <!-- End Title -->

      <!-- Icon Blocks -->
      <div class="row mb-9">
        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <img src="/assets/svg/icons/icon-29.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="42px" height="42px">
            <div class="media-body">
              <h4 class="h6 mb-0">GSuite and Google Drive</h4>
            </div>
          </div>
          <p>Works with <a href="https://app.diagrams.net/?mode=google" target="_blank">Google Drive</a> and <a href="https://gsuite.diagrams.net/" target="_blank">G Suite</a>. Use add-ons for
            <a href="https://docsaddon.diagrams.net/" target="_blank">Docs</a>,
            <a href="https://sheetsaddon.diagrams.net/" target="_blank">Sheets</a>
            and
            <a href="https://slidesaddon.diagrams.net/" target="_blank">Slides</a>.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <img src="/assets/svg/icons/icon-26.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="42px" height="42px">
            <div class="media-body">
              <h4 class="h6 mb-0">Sharepoint and OneDrive</h4>
            </div>
          </div>
          <p>Works with <a href="https://app.diagrams.net/?mode=onedrive" target="_blank">OneDrive and Sharepoint</a>. <a href="https://office.diagrams.net/" target="_blank">Office 365 app</a> for Word, Powerpoint and Excel.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <img src="/assets/svg/icons/atlassian.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="42px" height="42px">
            <div class="media-body">
              <h4 class="h6 mb-0">Atlassian</h4>
            </div>
          </div>
          <p>Highest-rated <a href="https://marketplace.atlassian.com/apps/1214854/diagram-viewer-for-confluence-cloud" target="_blank">Confluence app</a> in the Atlassian Marketplace*. Works in <a href="https://marketplace.atlassian.com/apps/1211413/draw-io-diagrams-for-jira?hosting=cloud&tab=overview">Jira</a> too.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <img src="/assets/svg/icons/icon-37.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="42px" height="42px">
            <div class="media-body">
              <h4 class="h6 mb-0">Git and Dropbox</h4>
            </div>
          </div>
          <p>Works with <a href="https://app.diagrams.net/?mode=github" target="_blank">GitHub</a>, <a href="https://app.diagrams.net/?mode=gitlab" target="_blank">GitLab</a> and <a href="https://app.diagrams.net/?mode=dropbox" target="_blank">Dropbox</a> for visual documentation in distributed teams.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <img src="/assets/svg/icons/icon-38.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="42px" height="42px">
            <div class="media-body">
              <h4 class="h6 mb-0">Desktop</h4>
            </div>
          </div>
          <p>Download <a href="https://get.diagrams.net" target="_blank">diagrams.net Desktop</a> for offline use on Windows, macOS, Linux and ChromeOS.</p>
          <!-- End Icon Block -->
        </div>

        <div class="col-sm-6 col-md-4">
          <!-- Icon Block -->
          <div class="media align-items-center mb-2">
            <img src="/assets/svg/icons/nextcloud.svg" style="margin-right: 24px;margin-top: 10px;" alt="Example diagram" width="42px" height="42px">
            <div class="media-body">
              <h4 class="h6 mb-0">Nextcloud</h4>
            </div>
          </div>
          <p>Nextcloud is an ideal on-premise file hosting system for diagrams.net.*</p>
          <!-- End Icon Block -->
        </div>
      </div>
      <!-- End Icon Blocks -->

      <div class="text-center">
        <div class="mb-3">
          <a class="btn btn-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mx-1" href="/integrations.html">See more</a>
          <a class="btn btn-outline-primary btn-wide transition-3d-hover mb-2 mb-sm-0 mx-1" href="https://app.diagrams.net/?src=about">Start Now</a>
        </div>

        <p class="small">* Third-party integration.</p>
      </div>
    </div>
    <!-- End Features Section -->

  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Global Compulsory -->
  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="assets/js/hs.megamenu.js"></script>
  <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

  <!-- JS Front -->
  <script src="assets/js/hs.core.js"></script>
  <script src="assets/js/hs.header.js"></script>
  <script src="assets/js/hs.unfold.js"></script>
  <script src="assets/js/home-init.js"></script>
