  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div id="SVGknowledgebaseCommunity" class="svg-preloader bg-light">
      <div class="container">
        <div class="row justify-content-md-between">
          <div class="col-md-6 space-2 space-bottom-lg-3 space-top-md-5">
            <div class="mb-5">
              <h1 class="font-weight-medium">How can we help?</h1>
            </div>

            <!-- Input -->
            <form class="js-focus-state input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="askQuestions">
                  <span class="fas fa-search"></span>
                </span>
              </div>
              <input type="search" class="form-control" placeholder="Search the knowledge base..." aria-label="Search the knowledge base..." aria-describedby="askQuestions">
            </form>
            <!-- End Input -->

            <!-- Text/Links -->
            <p class="font-size-1 text-dark">
              Popular help topics:
              <a class="link-muted" href="#">pricing,</a>
              <a class="link-muted ml-1" href="#">upgrade,</a>
              <a class="link-muted ml-1" href="#">hosting,</a>
              <a class="link-muted ml-1" href="#">membership</a>
            </p>
            <!-- End Text/Links -->
          </div>

          <div class="col-md-5 align-self-md-end d-none d-md-inline-block">
            <!-- SVG Icon -->
            <figure class="ie-knowledgebase-community mb-n3">
              <img class="js-svg-injector" src="../../assets/svg/knowledgebase-community.svg" alt="Image Description"
                   data-parent="#SVGknowledgebaseCommunity">
            </figure>
            <!-- End SVG Icon -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- FAQ Section -->
    <div class="container">
      <div class="border-bottom space-2 space-md-3">
        <div class="card-deck d-block d-lg-flex card-lg-gutters-2 mb-3">
          <a class="card card-frame mb-3 mb-lg-0" href="listing.html">
            <div class="card-body p-4">
              <!-- Icon Block -->
              <div class="media">
                <figure id="icon1" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                  <img class="js-svg-injector" src="../../assets/svg/icons/icon-1.svg" alt="SVG"
                       data-parent="#icon1">
                </figure>
                <div class="media-body">
                  <h2 class="h5">Getting started</h2>
                  <p class="font-size-1">Welcome to Front! We're so glad you're here. Let's get started!</p>

                  <div class="media">
                    <!-- Contributors List -->
                    <ul class="list-inline mr-2 mb-0">
                      <li class="list-inline-item mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
                        </div>
                      </li>
                      <li class="list-inline-item ml-n3 mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img8.jpg" alt="Image Description">
                        </div>
                      </li>
                    </ul>
                    <!-- End Contributors List -->

                    <div class="media-body">
                      <!-- Article Authors -->
                      <small class="d-block text-dark">1 article in this collection</small>
                      <small class="d-block text-dark">
                        <span class="text-muted">Written by</span>
                        Luisa Woodfine
                        <span class="text-muted">and</span>
                        Neil Galavan
                      </small>
                      <!-- End Article Authors -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Icon Block -->
            </div>
          </a>

          <a class="card card-frame" href="listing.html">
            <div class="card-body p-4">
              <!-- Icon Block -->
              <div class="media">
                <figure id="icon46" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                  <img class="js-svg-injector" src="../../assets/svg/icons/icon-46.svg" alt="SVG"
                       data-parent="#icon46">
                </figure>
                <div class="media-body">
                  <h3 class="h5">Account</h3>
                  <p class="font-size-1">Adjust your profile and preferences to make Front work just for you!</p>

                  <div class="media">
                    <!-- Contributors List -->
                    <ul class="list-inline mr-2 mb-0">
                      <li class="list-inline-item mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
                        </div>
                      </li>
                      <li class="list-inline-item ml-n3 mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img8.jpg" alt="Image Description">
                        </div>
                      </li>
                    </ul>
                    <!-- End Contributors List -->

                    <div class="media-body">
                      <!-- Article Authors -->
                      <small class="d-block text-dark">2 article in this collection</small>
                      <small class="d-block text-dark">
                        <span class="text-muted">Written by</span>
                        Fiona Burke, Luisa Woodfine
                        <span class="text-muted">and</span>
                        Neil Galavan
                      </small>
                      <!-- End Article Authors -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Icon Block -->
            </div>
          </a>
        </div>

        <div class="card-deck d-block d-lg-flex card-lg-gutters-2 mb-3">
          <a class="card card-frame mb-3 mb-lg-0" href="listing.html">
            <div class="card-body p-4">
              <!-- Icon Block -->
              <div class="media">
                <figure id="icon47" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                  <img class="js-svg-injector" src="../../assets/svg/icons/icon-47.svg" alt="SVG"
                       data-parent="#icon47">
                </figure>
                <div class="media-body">
                  <h3 class="h5">Data security</h3>
                  <p class="font-size-1">Detailed information on how our customer data is securely stored.</p>

                  <div class="media">
                    <!-- Contributors List -->
                    <ul class="list-inline mr-2 mb-0">
                      <li class="list-inline-item mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img10.jpg" alt="Image Description">
                        </div>
                      </li>
                      <li class="list-inline-item ml-n3 mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img12.jpg" alt="Image Description">
                        </div>
                      </li>
                    </ul>
                    <!-- End Contributors List -->

                    <div class="media-body">
                      <!-- Article Authors -->
                      <small class="d-block text-dark">5 article in this collection</small>
                      <small class="d-block text-dark">
                        <span class="text-muted">Written by</span>
                        Fiona Burke, Luisa Woodfine, Neil Galavan
                        <span class="text-muted">and</span>
                        Monica Garcia
                      </small>
                      <!-- End Article Authors -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Icon Block -->
            </div>
          </a>

          <a class="card card-frame" href="listing.html">
            <div class="card-body p-4">
              <!-- Icon Block -->
              <div class="media">
                <figure id="icon52" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                  <img class="js-svg-injector" src="../../assets/svg/icons/icon-52.svg" alt="SVG"
                       data-parent="#icon52">
                </figure>
                <div class="media-body">
                  <h3 class="h5">Market</h3>
                  <p class="font-size-1">Some further explanation on when Front can and cannot be used.</p>

                  <div class="media">
                    <!-- Contributors List -->
                    <ul class="list-inline mr-2 mb-0">
                      <li class="list-inline-item mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img9.jpg" alt="Image Description">
                        </div>
                      </li>
                    </ul>
                    <!-- End Contributors List -->

                    <div class="media-body">
                      <!-- Article Authors -->
                      <small class="d-block text-dark">3 article in this collection</small>
                      <small class="d-block text-dark">
                        <span class="text-muted">Written by</span>
                        Luisa Woodfine
                      </small>
                      <!-- End Article Authors -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Icon Block -->
            </div>
          </a>
        </div>

        <div class="card-deck d-block d-lg-flex card-lg-gutters-2 mb-3">
          <a class="card card-frame mb-3 mb-lg-0" href="listing.html">
            <div class="card-body p-4">
              <!-- Icon Block -->
              <div class="media">
                <figure id="icon39" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                  <img class="js-svg-injector" src="../../assets/svg/icons/icon-39.svg" alt="SVG"
                       data-parent="#icon39">
                </figure>
                <div class="media-body">
                  <h3 class="h5">Subscription</h3>
                  <p class="font-size-1">Assistance on how and when you might use the subscription product.</p>

                  <div class="media">
                    <!-- Contributors List -->
                    <ul class="list-inline mr-2 mb-0">
                      <li class="list-inline-item mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img10.jpg" alt="Image Description">
                        </div>
                      </li>
                      <li class="list-inline-item ml-n3 mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img9.jpg" alt="Image Description">
                        </div>
                      </li>
                    </ul>
                    <!-- End Contributors List -->

                    <div class="media-body">
                      <!-- Article Authors -->
                      <small class="d-block text-dark">2 article in this collection</small>
                      <small class="d-block text-dark">
                        <span class="text-muted">Written by</span>
                        Fiona Burke, Luisa Woodfine
                        <span class="text-muted">and</span>
                        Neil Galavan
                      </small>
                      <!-- End Article Authors -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Icon Block -->
            </div>
          </a>

          <a class="card card-frame" href="listing.html">
            <div class="card-body p-4">
              <!-- Icon Block -->
              <div class="media">
                <figure id="icon24" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                  <img class="js-svg-injector" src="../../assets/svg/icons/icon-24.svg" alt="SVG"
                       data-parent="#icon24">
                </figure>
                <div class="media-body">
                  <h3 class="h5">Tips, tricks &amp; more</h3>
                  <p class="font-size-1">Tips and tools for beginners and experts alike.</p>

                  <div class="media">
                    <!-- Contributors List -->
                    <ul class="list-inline mr-2 mb-0">
                      <li class="list-inline-item mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
                        </div>
                      </li>
                      <li class="list-inline-item ml-n3 mr-0">
                        <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle">
                          <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img4.jpg" alt="Image Description">
                        </div>
                      </li>
                    </ul>
                    <!-- End Contributors List -->

                    <div class="media-body">
                      <!-- Article Authors -->
                      <small class="d-block text-dark">1 article in this collection</small>
                      <small class="d-block text-dark">
                        <span class="text-muted">Written by</span>
                        Luisa Woodfine
                        <span class="text-muted">and</span>
                        Monica Garcia
                      </small>
                      <!-- End Article Authors -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Icon Block -->
            </div>
          </a>
        </div>

        <div class="text-center mt-9">
          <a class="btn btn-primary transition-3d-hover" href="#">See all Topics</a>
        </div>
      </div>
    </div>
    <!-- End FAQ Section -->

    <!-- Featured Articles Section -->
    <div class="container space-2 space-md-3">
      <div class="row">
        <div class="col-md-4 mb-5 mb-md-0">
          <!-- SVG Icon -->
          <figure id="icon21" class="svg-preloader ie-height-56 w-100 max-width-8 mb-4">
            <img class="js-svg-injector" src="../../assets/svg/icons/icon-21.svg" alt="SVG"
                 data-parent="#icon21">
          </figure>
          <!-- End SVG Icon -->

          <div class="mb-4">
            <h3 class="h5 font-weight-medium">Featured articles</h3>
          </div>

          <ul class="list-unstyled">
            <li class="pb-3"><a class="link-muted" href="article-description.html">What is Front?</a></li>
            <li class="pb-3"><a class="link-muted" href="article-description.html">Getting started for workspace creators</a></li>
            <li class="pb-3"><a class="link-muted" href="article-description.html">Edit your profile</a></li>
            <li class="pb-3"><a class="link-muted" href="article-description.html">View and download invoices</a></li>
            <li class="pb-3"><a href="#">See all</a></li>
          </ul>
        </div>

        <div class="col-md-4 mb-5 mb-md-0">
          <!-- SVG Icon -->
          <figure id="icon2" class="svg-preloader ie-height-56 w-100 max-width-8 mb-4">
            <img class="js-svg-injector" src="../../assets/svg/icons/icon-2.svg" alt="SVG"
                 data-parent="#icon2">
          </figure>
          <!-- End SVG Icon -->

          <div class="mb-4">
            <h3 class="h5 font-weight-medium">Most helpful articles</h3>
          </div>

          <ul class="list-unstyled">
            <li class="pb-3"><a class="link-muted" href="article-description.html">Working in Front</a></li>
            <li class="pb-3"><a class="link-muted" href="article-description.html">Delete a page</a></li>
            <li class="pb-3"><a class="link-muted" href="article-description.html">Add an app to your workspace</a></li>
            <li class="pb-3"><a class="link-muted" href="article-description.html">What is Item Support?</a></li>
            <li class="pb-3"><a href="#">See all</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <!-- SVG Icon -->
          <figure id="icon4" class="svg-preloader ie-height-56 w-100 max-width-8 mb-4">
            <img class="js-svg-injector" src="../../assets/svg/icons/icon-4.svg" alt="SVG"
                 data-parent="#icon4">
          </figure>
          <!-- End SVG Icon -->

          <div class="mb-4">
            <h3 class="h5 font-weight-medium">Popular forum topics</h3>
          </div>

          <ul class="list-unstyled">
            <li class="pb-3"><a class="link-muted" href="article-description.html">Getting started for new members</a></li>
            <li class="pb-3"><a class="link-muted" href="article-description.html">Invite new members to your workspace</a></li>
            <li class="pb-3"><a class="link-muted" href="article-description.html">Bundled Plugins</a></li>
            <li class="pb-3"><a href="#">See all</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Featured Articles Section -->

    <!-- Contacts Section -->
    <div class="bg-light">
      <div class="container space-2 space-md-3">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto">
          <figure id="icon62" class="svg-preloader ie-height-72 w-100 max-width-10 mx-auto mb-6">
            <img class="js-svg-injector" src="../../assets/svg/icons/icon-62.svg" alt="SVG"
                 data-parent="#icon62">
          </figure>

          <div class="mb-5">
            <h2 class="h3 font-weight-medium">Still no luck? We can help!</h2>
            <p>Contact us and we'll get back to you as soon as possible.</p>
          </div>

          <a class="btn btn-primary transition-3d-hover" href="#">Submit a Request</a>
        </div>
      </div>
    </div>
    <!-- End Contacts Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Account Sidebar Navigation -->
  <aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
      <div class="u-sidebar__container">
        <div class="u-header-sidebar__footer-offset">
          <!-- Toggle Button -->
          <div class="d-flex align-items-center pt-4 px-7">
            <button type="button" class="close ml-auto"
                    aria-controls="sidebarContent"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-unfold-event="click"
                    data-unfold-hide-on-scroll="false"
                    data-unfold-target="#sidebarContent"
                    data-unfold-type="css-animation"
                    data-unfold-animation-in="fadeInRight"
                    data-unfold-animation-out="fadeOutRight"
                    data-unfold-duration="500">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- End Toggle Button -->

          <!-- Content -->
          <div class="js-scrollbar u-sidebar__body">
            <div class="u-sidebar__content u-header-sidebar__content">
              <form class="js-validate">
                <!-- Login -->
                <div id="login" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Welcome Back!</h2>
                    <p>Login to manage your account.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signinEmail">Email</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signinEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                        </div>
                        <input type="email" class="form-control" name="email" id="signinEmail" placeholder="Email" aria-label="Email" aria-describedby="signinEmailLabel" required
                               data-msg="Please enter a valid email address."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Form Group -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signinPassword">Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signinPasswordLabel">
                            <span class="fas fa-lock"></span>
                          </span>
                        </div>
                        <input type="password" class="form-control" name="password" id="signinPassword" placeholder="Password" aria-label="Password" aria-describedby="signinPasswordLabel" required
                               data-msg="Your password is invalid. Please try again."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Form Group -->

                  <div class="d-flex justify-content-end mb-4">
                    <a class="js-animation-link small link-muted" href="javascript:;"
                       data-target="#forgotPassword"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">Forgot Password?</a>
                  </div>

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Login</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Do not have an account?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#signup"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">Signup
                    </a>
                  </div>

                  <div class="text-center">
                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                  </div>

                  <!-- Login Buttons -->
                  <div class="d-flex">
                    <a class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="#">
                      <span class="fab fa-facebook-square mr-1"></span>
                      Facebook
                    </a>
                    <a class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
                      <span class="fab fa-google mr-1"></span>
                      Google
                    </a>
                  </div>
                  <!-- End Login Buttons -->
                </div>

                <!-- Signup -->
                <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Welcome to Front.</h2>
                    <p>Fill out the form to get started.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signupEmail">Email</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signupEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                        </div>
                        <input type="email" class="form-control" name="email" id="signupEmail" placeholder="Email" aria-label="Email" aria-describedby="signupEmailLabel" required
                               data-msg="Please enter a valid email address."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signupPassword">Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signupPasswordLabel">
                            <span class="fas fa-lock"></span>
                          </span>
                        </div>
                        <input type="password" class="form-control" name="password" id="signupPassword" placeholder="Password" aria-label="Password" aria-describedby="signupPasswordLabel" required
                               data-msg="Your password is invalid. Please try again."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="signupConfirmPassword">Confirm Password</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="signupConfirmPasswordLabel">
                            <span class="fas fa-key"></span>
                          </span>
                        </div>
                        <input type="password" class="form-control" name="confirmPassword" id="signupConfirmPassword" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="signupConfirmPasswordLabel" required
                               data-msg="Password does not match the confirm password."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Input -->

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Get Started</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Already have an account?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#login"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">Login
                    </a>
                  </div>

                  <div class="text-center">
                    <span class="u-divider u-divider--xs u-divider--text mb-4">OR</span>
                  </div>

                  <!-- Login Buttons -->
                  <div class="d-flex">
                    <a class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="#">
                      <span class="fab fa-facebook-square mr-1"></span>
                      Facebook
                    </a>
                    <a class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="#">
                      <span class="fab fa-google mr-1"></span>
                      Google
                    </a>
                  </div>
                  <!-- End Login Buttons -->
                </div>
                <!-- End Signup -->

                <!-- Forgot Password -->
                <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
                  <!-- Title -->
                  <header class="text-center mb-7">
                    <h2 class="h4 mb-0">Recover Password.</h2>
                    <p>Enter your email address and an email with instructions will be sent to you.</p>
                  </header>
                  <!-- End Title -->

                  <!-- Form Group -->
                  <div class="form-group">
                    <div class="js-form-message js-focus-state">
                      <label class="sr-only" for="recoverEmail">Your email</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="recoverEmailLabel">
                            <span class="fas fa-user"></span>
                          </span>
                        </div>
                        <input type="email" class="form-control" name="email" id="recoverEmail" placeholder="Your email" aria-label="Your email" aria-describedby="recoverEmailLabel" required
                               data-msg="Please enter a valid email address."
                               data-error-class="u-has-error"
                               data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <!-- End Form Group -->

                  <div class="mb-2">
                    <button type="submit" class="btn btn-block btn-sm btn-primary transition-3d-hover">Recover Password</button>
                  </div>

                  <div class="text-center mb-4">
                    <span class="small text-muted">Remember your password?</span>
                    <a class="js-animation-link small" href="javascript:;"
                       data-target="#login"
                       data-link-group="idForm"
                       data-animation-in="slideInUp">Login
                    </a>
                  </div>
                </div>
                <!-- End Forgot Password -->
              </form>
            </div>
          </div>
          <!-- End Content -->
        </div>

        <!-- Footer -->
        <footer id="SVGwaveWithDots" class="svg-preloader u-sidebar__footer u-sidebar__footer--account">
          <ul class="list-inline mb-0">
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="privacy.html">Privacy</a>
            </li>
            <li class="list-inline-item pr-3">
              <a class="u-sidebar__footer--account__text" href="terms.html">Terms</a>
            </li>
            <li class="list-inline-item">
              <a class="u-sidebar__footer--account__text" href="help.html">
                <i class="fas fa-info-circle"></i>
              </a>
            </li>
          </ul>

          <!-- SVG Background Shape -->
          <div class="position-absolute right-0 bottom-0 left-0">
            <img class="js-svg-injector" src="../../assets/svg/components/wave-bottom-with-dots.svg" alt="Image Description"
                   data-parent="#SVGwaveWithDots">
          </div>
          <!-- End SVG Background Shape -->
        </footer>
        <!-- End Footer -->
      </div>
    </div>
  </aside>
  <!-- End Account Sidebar Navigation -->
  <!-- ========== END SECONDARY CONTENTS ========== -->

  <!-- JS Global Compulsory -->
  <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="../../assets/js/hs.megamenu.js"></script>
   <script src="../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

  <!-- JS Front -->
  <script src="../../assets/js/hs.core.js"></script>
  <script src="../../assets/js/hs.header.js"></script>
  <script src="../../assets/js/hs.unfold.js"></script>
  <script src="../../assets/js/hs.malihu-scrollbar.js"></script>
  <script src="../../assets/js/hs.validation.js"></script>
  <script src="../../assets/js/hs.focus-state.js"></script>
  <script src="../../assets/js/hs.show-animation.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767.98,
        hideTimeOut: 0
      });
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of show animations
      $.HSCore.components.HSShowAnimation.init('.js-animation-link');

      // initialization of forms
      $.HSCore.components.HSFocusState.init();
    });
  </script>