<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>{{ page.title }}</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="../assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../assets/css/animate.min.css">
  <link rel="stylesheet" href="../assets/css/hs.megamenu.css">
  <link rel="stylesheet" href="../assets/css/jquery.mCustomScrollbar.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="../assets/css/theme.css">
</head>
<body>
{% include header.html %}
{% include pages/single-page.html %}
{% include footer.html %}
<body>
</html>
